.sfondo {
    width: 100%;
    height: calc(100vh - 82px);
    background-image: url('../immagini/sfondo.jpg');
    opacity: 0.1;
    position: fixed;
    top: 82px;
    right: 0;
}

.prod {
    width: 30%;
    height: 80px;
    border: 4px solid #FF7F27;
    margin: 20px auto;
    background-color: lightgrey;
    position: relative;

    ul {
        li {
            height: 72px;
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            align-items: center;

            img {
                width: 30px;
            }

            h3 {
                display: inline;
                font-size: 30px;
                color: rgb(54, 54, 54);

            }

            button {
                width: 80px;
                height: 30px;
                background-color: rgb(54, 54, 54);
                border: 2px solid #FF7F27;
                color: white;
                margin-right: 20px;
            }
        }
    }
}

